* {
	margin: 0;
	padding: 0;
}

:root {
	--gray-purple: #474354;
	--rich-purple: #1e1638;
	--hyatt-purple: #504b85;
	--orange: #ffa760;
}

.phone-wrap {
	display: none;
	text-align: center;
}

.phone-wrap h1 {
	margin: 10% auto;
	font-family: 'Open Sans', serif;
	font-size: 50px;
	font-weight: 300;
}

/* font-family: 'DM Serif Display', serif; */

.sfors-background {
	/* Turned Off the Hyatt pages for now */
	display: none;
	background-image: url('./img/sfors-main.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.sfors-background img {
	visibility: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sfors-background h1 {
	font-size: 40px;
	font-weight: 400;
	position: absolute;
	font-family: 'Open sans', sans-serif;
	color: white;
	text-align: center;
	transform: translateY(80vw);
}

.sfors-background-button {
	height: 75vw;
	width: 100%;
	z-index: 10;
	transform: translateY(1007vw);
	position: absolute;
	border: 1px solid red;
}

.sfors-activities-background {
	display: none;
	background-image: url('./img/sfors-main-attractions.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.sfors-activities-background img {
	visibility: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sfors-activities-background h1 {
	font-size: 40px;
	font-weight: 400;
	position: absolute;
	font-family: 'Open sans', sans-serif;
	color: white;
	text-align: center;
	transform: translateY(80vw);
}

.sfors-activities-background-button {
	height: 31vw;
	width: 100%;
	z-index: 10;
	transform: translateY(242vw);
	position: absolute;
	border: 1px solid red;
}

.main-background {
	/* display: none; */
	width: 100%;
	background-position: 25%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./img/main-background-dim.png');
	background-attachment: fixed;
}

.after-main-background {
	width: 100%;
	background-position: 25%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./img/main-background-dim.png');
	background-attachment: fixed;
}

.main-background-height {
	height: 100%;
}

.navBar {
	background: rgba(255, 255, 255, 0.8);
	z-index: 3;
	display: flex;
	position: fixed;
	width: calc(100% - 40px);
	padding: 20px 20px;
	justify-content: space-between;
}

.navBar .hyattoursLogo {
	position: relative;
}

.navBar .sideMenuButton {
	position: relative;
}

.navBar .sideMenuButton img {
	position: relative;
	height: 20px;
}

.navBar .hyattoursLogo a {
	color: var(--gray-purple);
	text-decoration: none;
	font-family: 'Open Sans', serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.02rem;
}

.navBarRightHold {
	width: 29px;
}

.xIcon {
	height: 20px;
}

.cityNameTitle {
	font-family: 'DM Serif Display', serif;
	font-size: 72px;
	line-height: 5rem;
	color: var(--rich-purple);
	text-align: center;
	margin: 40% auto 10px auto;
}

.hyattLogo {
	margin: 0 auto;
	width: 100px;
}

.hyattLogoImg {
	width: 100px;
}

.startTourButton {
	width: 200px;
	height: 50px;
	position: relative;
	border-radius: 50px;
	text-align: center;
	margin: 10% auto;
}

.startTourButton a {
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 50px;
	border: 3px solid var(--rich-purple);
	background: var(--rich-purple);
	font-family: 'Open Sans', serif;
	font-size: 25px;
	text-decoration: none;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

.startTourButton a:active {
	background: white;
	color: var(--rich-purple);
}

.sideMenu {
	width: 70%;
	height: 75%;
	display: none;
	z-index: 10;
	position: absolute;
	background: white;
	border-radius: 0 0 16px 0;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sideMenuClose img {
	height: 25px;
	margin-left: 85%;
	margin-top: 15px;
}

.sideMenuList {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.sideMenuList a {
	border-bottom: 1px solid lightgray;
	width: 75%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-decoration: none;
	color: var(--rich-purple);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.hotelCards {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.hotelCard {
	margin: 25px auto;
}

.hotelCard img {
	width: 230px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.sfors-tour-header {
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url('./img/sfors-tour-header.png');
	height: 300px;
	border-radius: 0 0 8px 8px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tour-header-text {
	font-family: 'Open Sans', serif;
	font-weight: 600;
	margin-top: 30%;
	font-size: 28px;
	line-height: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	color: var(--rich-purple);
}

.tour-header-map {
	position: absolute;
	margin: 4% 80%;
}

.header-map-icon {
	height: 40px;
}

.total-distance {
	position: absolute;
	margin-top: 310px;
	font-family: 'Open Sans', serif;
	text-align: center;
	width: 100%;
	font-size: 18px;
	color: var(--gray-purple);
}

.total-distance-title {
	font-weight: 600;
}

.total-distance-amount {
	font-size: 18px;
	font-weight: 200;
}

.tour-stops {
	margin: 365px 15px 0 15px;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.tour-stop {
	display: grid;
	grid-template-columns: 40px 90px 1fr;
	grid-template-rows: 40px 2fr 40px;
	margin-top: 9px;
}

.tour-stop-icon {
	grid-row-start: 1;
	grid-row-end: span 3;
	display: flex;
	justify-content: center;
}

.tour-stop-icon img {
	position: absolute;
}

.tour-stop-icon-img-1 {
	z-index: 2;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tour-stop-icon-img-2 {
	height: 200px;
	width: 2px;
}

.tour-stop-number {
	grid-column-start: 2;
	grid-column-end: span 3;
	padding: 6px 0 0 8px;
}

.tour-stop-picture {
	height: 100px;
	width: 70px;
	display: flex;
	justify-content: center;
	margin: 2px 10px;
	align-items: center;
	box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

#sfors-stop-1-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/ferry-building.png');
}

#sfors-stop-2-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/343-sansome.png');
}

#sfors-stop-3-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/transamerica-pyramid.png');
}

#sfors-stop-4-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/telephone-exchange.png');
}

#sfors-stop-5-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/dragon-gate.png');
}

#sfors-stop-6-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/frank-lloyd.png');
}

#sfors-stop-7-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/union-square.png');
}

#sfors-stop-8-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/yerba-buena.png');
}

#sfors-stop-9-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/sf-moma.png');
}

#sfors-stop-10-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/140-montgomery.png');
}

#sfors-stop-11-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/salesforce-park.png');
}

#sfors-stop-12-picture {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/rincon-center.png');
}

.tour-stop-picture span {
	color: white;
	font-family: 'DM Serif Display', serif;
	font-size: 50px;
	position: absolute;
	z-index: 3;
}

.tour-stop-info {
	grid-column-end: span 2;
}

.tour-stop-name {
	font-weight: 600;
}

.tour-stop-description {
	font-size: 12px;
	line-height: 18px;
	margin-top: 7px;
	margin-right: 10px;
}

.tour-stop-distance {
	grid-column-end: span 2;
	display: flex;
	align-items: center;
}

.tour-stop-distance-orange {
	color: var(--orange);
	font-weight: 400;
	padding: 0 0 0 8px;
}

.tour-stop-distance-map-icon {
	display: flex;
	align-items: center;
	margin: 4px 0 0 10px;
}

.tour-stop-distance-map-icon img {
	height: 18px;
}

.sfors-tour-stop-page-image {
	width: 100%;
	background-repeat: no-repeat;
	height: 300px;
	border-radius: 0 0 8px 8px;
	background-size: cover;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#sfors-tour-stop-page-image-1 {
	background-image: url('https://planning-org-uploaded-media.s3.amazonaws.com/legacy_resources/greatplaces/spaces/2010/img/ferrybuilding01.jpg');
}

#sfors-tour-stop-page-image-2 {
	background-image: url('./img/343-sansome.png');
}

#sfors-tour-stop-page-image-3 {
	background-image: url('https://tclf.org/sites/default/files/thumbnails/image/5909169218_0d98908c5f_o.jpg');
}

#sfors-tour-stop-page-image-4 {
	background-image: url('https://images.squarespace-cdn.com/content/v1/514a2911e4b0896b36342655/1364949896616-MAM2V5W16HC610XO21I1/ke17ZwdGBToddI8pDm48kJ-0gbVWabSiDC314XPxdgN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UdhG9ksZjhA6XJk3Mj5_fpdU3K5r2-RjiYOH2RqDNq3i86iGyAHoWEzl9kO54n1N1Q/image-asset.jpeg');
}

#sfors-tour-stop-page-image-5 {
	background-image: url('./img/dragon-gate.png');
}

#sfors-tour-stop-page-image-6 {
	background-image: url('https://img.hoodline.com/uploads/story/image/33548/intxanadu.png');
}

#sfors-tour-stop-page-image-7 {
	background-image: url('./img/union-square.png');
}

#sfors-tour-stop-page-image-8 {
	background-image: url('./img/yerba-buena.png');
}

#sfors-tour-stop-page-image-9 {
	background-image: url('./img/sf-moma.png');
}

#sfors-tour-stop-page-image-10 {
	background-image: url('./img/140-montgomery.png');
}

#sfors-tour-stop-page-image-11 {
	background-image: url('./img/salesforce-park.png');
}

#sfors-tour-stop-page-image-12 {
	background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0e/60/ad/5b/rincon-center.jpg');
}

.sfors-tour-stop-page-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 28px;
	color: var(--rich-purple);
}

.sfors-tour-stop-page-details {
	margin-left: 30px;
	height: 40px;
	display: flex;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.orange-stop-icon img {
	height: 32px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sfors-tour-stop-page-stop-number {
	margin: 0 15px 4px 15px;
	font-size: 20px;
}

.small-orange-map-icon-stop img {
	height: 25px;
}

.sfors-tour-stop-page-description {
	text-indent: 30px;
	font-family: 'Open Sans', sans-serif;
	margin: 15px;
	font-weight: 300;
}

.sfors-tour-stop-page-description p {
	margin-bottom: 18px;
}

.next-stop {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.next-stop a {
	height: 30px;
	width: 80px;
	border-radius: 30px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin: 15px;
	text-transform: uppercase;
	background-color: var(--rich-purple);
}

@media only screen and (min-width: 416px) {
	.main-background {
		display: none;
	}

	.sfors-background {
		display: none;
	}

	.sfors-activities-background {
		display: none;
	}

	.tour-background {
		display: none;
	}

	.navBar {
		display: none;
	}

	.phone-wrap {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('./img/main-background-dim.png');
	}
}
